.btn-green-xl {background-color: #47CC47;color: #192434;@include button-xl;}
.btn-green-lg {background-color: #47CC47;color: #192434;@include button-lg;}
.btn-green-md {background-color: #47CC47;color: #192434;@include button-md;}
.btn-green-sm {background-color: #47CC47;color: #192434;@include button-sm;}

.btn-dark-green-xl {background-color: #40AB3E;color: #192434;@include button-xl;}
.btn-dark-green-lg {background-color: #40AB3E;color: #192434;@include button-lg;}
.btn-dark-green-md {background-color: #40AB3E;color: #192434;@include button-md;}
.btn-dark-green-sm {background-color: #40AB3E;color: #192434;@include button-sm;}

.btn-red-xl {background-color: #E21D12;color: #ffffff;@include button-xl;}
.btn-red-lg {background-color: #E21D12;color: #ffffff;@include button-lg;}
.btn-red-md {background-color: #E21D12;color: #ffffff;@include button-md;}
.btn-red-sm {background-color: #E21D12;color: #ffffff;@include button-sm;}

.btn-gray-xl {background-color: #DEE1E5;color: #8993A1;@include button-xl;}
.btn-gray-lg {background-color: #DEE1E5;color: #8993A1;@include button-lg;}
.btn-gray-md {background-color: #DEE1E5;color: #8993A1;@include button-md;}
.btn-gray-sm {background-color: #DEE1E5;color: #8993A1;@include button-sm;}