.label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
}
.input-w328 {
  border: 1px solid #DEE1E5;
  min-width: 328px;
  height: 48px;
  border-radius: 8px;
  text-indent: 10px;
  font-size: 16px;
}
.inputting {
  border: 1px solid #40AB3E;
}