@mixin button-xl {width: 87px;height: 48px;font-size: 16px;border-radius: 8px;}
@mixin button-lg {width: 84px;height: 44px;font-size: 16px;border-radius: 8px;}
@mixin button-md {width: 78px;height: 36px;font-size: 14px;border-radius: 8px;}
@mixin button-sm {width: 53px;height: 32px;font-size: 12px;border-radius: 8px;}

@mixin list {

  table {
    width: 100%;

    thead {
      border-bottom: 1px solid #DEE1E5;

      th {
        font-size: 14px;
        font-weight: 700;
        color: #000000;
        text-align: left;
        padding: 10px 0;
      }
    }

    tbody {

      td {
        font-size: 14px;
        padding: 10px;
      }
    }
  }
}
