html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, input, select, textarea, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{padding:0;margin:0;vertical-align:middle;box-sizing:border-box;touch-action: manipulation}
header, footer, section, article, menu, nav, aside{display:block}
html { -webkit-overflow-scrolling: touch; }
html, body{width:100%;height: 100%;-webkit-text-size-adjust:none;overflow:auto;}
body, button, h1, h2, h3, h4, h5, input, select, table, textarea {font-family:'Poppins', 'Noto Sans KR', HelveticaNeue-Light, AppleSDGothicNeo-Light, sans-serif;}
body{-webkit-text-size-adjust:none;justify-content:center;align-items:flex-start;word-break:keep-all;}
ul, ol{list-style-type:none}
table{border-collapse:collapse;border-spacing:0}
img, fieldset{border:0;outline:none}
label{cursor:pointer}
a{text-decoration:none;outline:none!important;color: inherit;}
i, em, address{font-style:normal}
button{padding:0;border:none;background:none;font-size:inherit;line-height:1.567em;letter-spacing:0;cursor:pointer}
button:focus{outline:0}
caption, legend{visibility:hidden;width:0;height:0;font-size:0;line-height:0}
iframe, object, video, embed{position:relative;top:0;left:0;max-width:100%}
.blind, .hidden{position:absolute!important;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}
a.skip {position: absolute;left: 15px;top: -30px;border: 1px solid #4ec53d;color: #fff;text-decoration: none;padding: 2px 6px 0;line-height: 24px;font-size: 12px;background-color: #000;z-index: 100;-webkit-transition: .3s;transition: .3s;}
a.skip:active, a.skip:focus {top: 0;}
select {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
select::-ms-expand{display:none}
input:focus-visible {outline: none;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:focus-visible,
input:-webkit-autofill:active  { -webkit-box-shadow: 0 0 0 30px #fafafa inset !important; }
input::-ms-clear{display:none}
input::-webkit-input-placeholder{color:#A7AFBA;}
input:-moz-placeholder { /* Firefox 18- */color: #A7AFBA;}
input::-moz-placeholder {  /* Firefox 19+ */color: #A7AFBA; }
input:-ms-input-placeholder {color: #A7AFBA;}

body {
  padding: 20px;
}