.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  min-height: 150px;
  border: 1px solid #999;
  background: #f9f9f9;
  color: #222;
  padding: 10px 20px;
  animation: fadeIn .3s;
  border-radius: 8px;

  h4 {
    margin-bottom: 10px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-right: -20px;
  }
  100% {
    opacity: 1;
    margin-right: 0;
  }
}